#vul_page
  text-align: center
  
  #new_vul_link
    margin-bottom: 20px
  .count
    text-align: left
    margin-bottom: 5px
          
#pagination_controls
  text-align: center
  margin-bottom: 15px
  .plink
    margin: 0 8px
    display: inline-block