#vul_page
  text-align: center
  
  #new_vul_link
    margin-bottom: 20px
  .count
    text-align: left
    margin-bottom: 5px
  ul#vuls
    text-align: left
    margin: 0 auto
    padding: 0
    width: 500px
    list-style: none
    li.vul:nth-child(even)
      background-color: #ccc
    li.vul
      padding: 5px 10px
      a
        color: black
      .vul_links
        float: right
        display: inline-block
        a
          color: blue
          
#show_vul_page
  #pagination_controls
    text-align: center
    margin-bottom: 15px
    .plink
      margin: 0 8px
      display: inline-block