#home_page
  %h1
    Flip A Bit DB
  %p
    To post a new instance of a vulnerability, make a POST request to "https://dustingtheweb.herokuapp.com/messages" with a JSON in the format of: 
  %p  
    { message: { url: "www.google.com", vulnerability_id: 1, text: "optional text", crawler: false } }
    
  %p
    The vulnerability_id can be either the id or the specific name ( both can be found
    = link_to "here", vulnerabilities_path
    ) You can also get a dump of all of the raw data so far by making a GET request to "https://dustingtheweb.herokuapp.com/dump"
  
  %p
    %b
      NOTE:
    probably not a good idea to go to the Raw Data page unless you need to, since it displays all of the data
  
  #example
    %p
      Click below to create a sample document.domain message 
      %b
        %i
          (this is for db testing)
    %a{:href => "#", :id => "sample"}
      Create Sample Message
  
  :javascript
    $("#sample").click(function() {
      $.post("/messages", { message: { url: "www.google.com", vulnerability_id: "document.domain", text: "THIS IS AN EXAMPLE MESSAGE", crawler: true } });
    });